---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Blog preview card"
>
	<div id="card" class="flex flex-col p-5 border border-black bg-white max-w-96 mx-4 rounded-2xl gap-4 solid-shadow">
		<img src="/illustration-article.svg" alt="" class="rounded-xl">
		<strong id="badge" class="bg-native-yellow p-3 rounded max-w-max py-1">Learning</strong>
		<p id="date">Published 21 Dec 2023</p>
		<h2 class="text-2xl">HTML & CSS foundations</h2>
		<p id="info-text" class="text-gray-500 text-base">These languages are the backbone of every website, defining structure, content, and presentation.</p>
		<div class="flex items-center gap-3">
			<img src="/image-avatar.webp" alt="" class="w-10 h-10 rounded-full">
			<p id="name" class="font-bold">Greg Hooper</p>
		</div>
	</div>
</Layout>

<style>
	.solid-shadow {
		box-shadow: 7px 7px 0px black;
	}

	h2, #name, #badge {
		font-family: 'Figtree-ExtraBold', sans-serif;
	}

	#info-text, #date {
		font-family: 'Figtree-VariableFont', sans-serif;
	}

	#card:hover {
		box-shadow: 12px 12px 0px black;
		cursor: pointer;
		transition: all .2s;
	}

	#card:not(:hover) {
		transition: all .2s;
	}

	#card:hover > h2 {
		color: var(--bg-yellow);
	}
</style>
