---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen h-screen flex items-center justify-center bg-native-yellow">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--bg-yellow: hsl(47, 88%, 63%)
	}

	@font-face {
		font-family: 'Figtree-SemiBold';
		src: url('/fonts/Figtree-SemiBold.ttf');
		font-weight: normal;
  	font-style: normal;
  	font-display: swap;
	}

	@font-face {
		font-family: 'Figtree-ExtraBold';
		src: url('/fonts/Figtree-ExtraBold.ttf');
		font-weight: normal;
  	font-style: normal;
  	font-display: swap;
	}

	@font-face {
		font-family: 'Figtree-VariableFont';
		src: url('/fonts/Figtree-VariableFont_wght.ttf');
		font-weight: normal;
  	font-style: normal;
  	font-display: swap;
	}

	.bg-native-yellow {
		background-color: var(--bg-yellow);
	}
</style>
